/*-------------application_page START---------------------*/
.application_page {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 80px 0; }
  .application_page .inner_wrapper {
    width: var(--default_width);
    justify-content: center; }
    .application_page .inner_wrapper .nav_container {
      width: 365px;
      box-sizing: border-box;
      padding: 20px 10px;
      row-gap: 20px;
      background-color: var(--container_background); }
    .application_page .inner_wrapper .master_container {
      width: 67.5%;
      margin-left: 80px; }
    .application_page .inner_wrapper .title {
      font-family: 'GilroyExtraBold', sans-serif;
      font-size: 18px;
      color: var(--hover_color);
      font-weight: normal;
      margin: 0; }
    .application_page .inner_wrapper .row {
      align-items: center;
      column-gap: 10px;
      transition: all 0.2s ease-in;
      cursor: pointer; }
      .application_page .inner_wrapper .row .icon {
        width: 24px;
        height: 24px;
        transition: inherit;
        fill: var(--white_permanent);
        stroke: var(--icon_stroke); }
      .application_page .inner_wrapper .row img {
        transition: inherit; }
      .application_page .inner_wrapper .row .value {
        font-family: 'GilroyMedium', sans-serif;
        font-size: 16px;
        transition: inherit;
        line-height: 23px;
        width: 90%;
        color: var(--text_black_default); }
      .application_page .inner_wrapper .row:hover, .application_page .inner_wrapper .row.active {
        background-color: var(--background_text); }
        .application_page .inner_wrapper .row:hover .icon,
        .application_page .inner_wrapper .row:hover .value,
        .application_page .inner_wrapper .row:hover img, .application_page .inner_wrapper .row.active .icon,
        .application_page .inner_wrapper .row.active .value,
        .application_page .inner_wrapper .row.active img {
          transform: translateX(10px);
          -webkit-transform: translateX(10px);
          -moz-transform: translateX(10px); }
      .application_page .inner_wrapper .row.submenu {
        padding: 0px 0px 0px 20px; }
  .application_page .nav_collapsed_container {
    display: none; }
  @media (max-width: 1199px) {
    .application_page .inner_wrapper {
      justify-content: space-between; }
      .application_page .inner_wrapper .nav_container {
        width: 30%; }
        .application_page .inner_wrapper .nav_container .row .value {
          font-size: 15px; }
      .application_page .inner_wrapper .master_container {
        width: 67.5%;
        margin-left: 0; } }
  @media (max-width: 1049px) {
    .application_page .inner_wrapper {
      justify-content: center; }
      .application_page .inner_wrapper .nav_container {
        display: none; }
      .application_page .inner_wrapper .master_container {
        width: 100%; }
    .application_page .nav_collapsed_container {
      display: block;
      width: var(--default_width);
      margin-bottom: 25px; }
      .application_page .nav_collapsed_container .inner_wrapper {
        width: max-content;
        align-items: center;
        column-gap: 10px;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid var(--hover_color);
        border-radius: 5px;
        position: relative; }
        .application_page .nav_collapsed_container .inner_wrapper .icon {
          width: 24px;
          height: 24px; }
        .application_page .nav_collapsed_container .inner_wrapper .title {
          font-size: 18px;
          font-family: 'GilroyExtraBold', sans-serif;
          color: var(--text_grayed_out1); }
        .application_page .nav_collapsed_container .inner_wrapper .menu_expanded {
          transform: skew(0);
          transition: all 0.2s ease-in;
          position: absolute;
          visibility: hidden;
          opacity: 0;
          background-color: var(--container_background);
          z-index: 99;
          width: 355px;
          height: 378px;
          top: 70px;
          left: 0;
          box-sizing: border-box;
          padding: 20px 10px;
          row-gap: 20px;
          border: 1px solid var(--hover_color);
          border-radius: 5px; }
          .application_page .nav_collapsed_container .inner_wrapper .menu_expanded .row {
            align-items: center;
            column-gap: 10px;
            transition: all 0.2s ease-in;
            cursor: pointer; }
            .application_page .nav_collapsed_container .inner_wrapper .menu_expanded .row .icon {
              width: 24px;
              height: 24px;
              transition: inherit;
              fill: var(--white_permanent);
              stroke: var(--icon_stroke); }
            .application_page .nav_collapsed_container .inner_wrapper .menu_expanded .row .value {
              font-family: 'GilroyMedium', sans-serif;
              font-size: 16px;
              transition: inherit;
              line-height: 23px;
              width: 90%;
              color: var(--text_black_default); }
            .application_page .nav_collapsed_container .inner_wrapper .menu_expanded .row:hover, .application_page .nav_collapsed_container .inner_wrapper .menu_expanded .row.active {
              background-color: var(--container_background); }
              .application_page .nav_collapsed_container .inner_wrapper .menu_expanded .row:hover .icon,
              .application_page .nav_collapsed_container .inner_wrapper .menu_expanded .row:hover .value, .application_page .nav_collapsed_container .inner_wrapper .menu_expanded .row.active .icon,
              .application_page .nav_collapsed_container .inner_wrapper .menu_expanded .row.active .value {
                transform: translateX(10px);
                -webkit-transform: translateX(10px);
                -moz-transform: translateX(10px); }
        .application_page .nav_collapsed_container .inner_wrapper:hover .menu_expanded {
          transform: skew(1);
          visibility: visible;
          opacity: 1; } }
  @media (max-width: 729px) {
    .application_page .nav_collapsed_container .inner_wrapper .master_container {
      width: 90%; }
    .application_page .nav_collapsed_container .inner_wrapper .icon {
      width: 20px;
      height: 20px; }
    .application_page .nav_collapsed_container .inner_wrapper .title {
      font-size: 16px; }
    .application_page .nav_collapsed_container .inner_wrapper .menu_expanded {
      row-gap: 16px;
      width: 325px;
      height: 350px; }
      .application_page .nav_collapsed_container .inner_wrapper .menu_expanded .row .value {
        font-size: 14px; } }
  @media (max-width: 529px) {
    .application_page .inner_wrapper .master_container {
      width: 100%; } }
  @media (max-width: 420px) {
    .application_page .nav_collapsed_container .inner_wrapper:hover .menu_expanded,
    .application_page .nav_collapsed_container .inner_wrapper .menu_expanded {
      width: 89vw; } }

/*-------------application_page END---------------------*/
/*-------------application_page tabs START --------------------*/
.initial_tab_container {
  width: 100%;
  position: relative; }
  .initial_tab_container .background_text {
    text-align: right;
    bottom: -70px;
    font-size: 154px; }
  .initial_tab_container .title_block {
    border-bottom: 1px solid var(--text_black_default);
    box-sizing: border-box;
    padding-bottom: 5px; }
    .initial_tab_container .title_block .title {
      font-size: 35px;
      font-family: 'UnboundedBlack', sans-serif;
      color: var(--text_black_default);
      text-transform: uppercase;
      margin: 0; }
  .initial_tab_container .buttons_block {
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px; }
    .initial_tab_container .buttons_block .button_container {
      height: 200px;
      width: max-content;
      min-width: 360px;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 20px;
      align-items: flex-end;
      background-color: var(--container_background);
      border: 1px solid transparent;
      transition: all 130ms ease-in;
      cursor: pointer; }
      .initial_tab_container .buttons_block .button_container:nth-child(2), .initial_tab_container .buttons_block .button_container:nth-child(3), .initial_tab_container .buttons_block .button_container:nth-child(4) {
        width: 480px; }
      .initial_tab_container .buttons_block .button_container .button_text {
        margin: 0;
        font-size: 18px;
        font-family: 'UnboundedBold', sans-serif;
        color: var(--hover_color);
        height: 100%;
        line-height: 30px;
        word-wrap: break-word;
        width: 73%; }
      .initial_tab_container .buttons_block .button_container .button_icon {
        width: 115px;
        height: 115px; }
      .initial_tab_container .buttons_block .button_container:hover {
        border-color: var(--hover_color); }
  @media (max-width: 1550px) {
    .initial_tab_container .title_block .title {
      font-size: 30px; }
    .initial_tab_container .buttons_block {
      justify-content: space-evenly; } }
  @media (max-width: 1360px) {
    .initial_tab_container .title_block .title {
      font-size: 26px; }
    .initial_tab_container .buttons_block {
      justify-content: space-evenly; }
      .initial_tab_container .buttons_block .button_container {
        height: 190px;
        min-width: 400px; }
        .initial_tab_container .buttons_block .button_container .button_text {
          font-size: 20px; } }
  @media (max-width: 1199px) {
    .initial_tab_container .title_block .title {
      font-size: 24px; } }
  @media (max-width: 1049px) {
    .initial_tab_container .title_block .title {
      font-size: 22px; }
    .initial_tab_container .buttons_block .button_container {
      min-width: 45%; }
      .initial_tab_container .buttons_block .button_container .button_text {
        font-size: 18px; } }
  @media (max-width: 889px) {
    .initial_tab_container .title_block .title {
      font-size: 20px; } }
  @media (max-width: 729px) {
    .initial_tab_container .title_block .title {
      font-size: 18px; }
    .initial_tab_container .buttons_block .button_container {
      height: 175px; }
      .initial_tab_container .buttons_block .button_container:nth-child(2), .initial_tab_container .buttons_block .button_container:nth-child(3), .initial_tab_container .buttons_block .button_container:nth-child(4) {
        width: 360px; }
      .initial_tab_container .buttons_block .button_container .button_text {
        font-size: 16px; } }
  @media (max-width: 424px) {
    .initial_tab_container .title_block .title {
      font-size: 16px; }
    .initial_tab_container .title_block .desc_text {
      font-size: 14px; }
    .initial_tab_container .buttons_block {
      row-gap: 35px; }
      .initial_tab_container .buttons_block .button_container .button_text {
        font-size: 15px;
        width: 75%; }
      .initial_tab_container .buttons_block .button_container .button_icon {
        width: 60px; }
      .initial_tab_container .buttons_block .button_container:nth-child(2), .initial_tab_container .buttons_block .button_container:nth-child(3), .initial_tab_container .buttons_block .button_container:nth-child(4) {
        width: 80%; } }

.profile_container {
  width: 464px;
  height: 605px;
  box-sizing: border-box;
  padding: 20px;
  margin-left: 80px;
  justify-content: space-between;
  background-color: var(--container_background); }
  .profile_container .title {
    font-family: 'GilroyMedium', sans-serif;
    font-size: 16px;
    color: var(--hover_color);
    text-align: center;
    width: 100%;
    margin: 0; }
  .profile_container .form_block .title {
    margin-bottom: 10px; }
  .profile_container .input_container {
    position: relative;
    box-sizing: border-box;
    padding-right: 29px; }
    .profile_container .input_container .icon {
      position: absolute;
      top: 7px;
      right: 0; }
  .profile_container .submit_button_box {
    margin: 0 !important; }
  @media (max-width: 1199px) {
    .profile_container {
      margin: 0 100px 0 0; } }
  @media (max-width: 1049px) {
    .profile_container {
      margin: 0; } }
  @media (max-width: 729px) {
    .profile_container .title {
      font-size: 15px; } }

.load_perm_container {
  align-items: center;
  width: 67.5%;
  height: 705px;
  box-sizing: border-box;
  padding: 20px;
  margin-left: 80px;
  justify-content: space-around;
  background-color: var(--container_background); }
  .load_perm_container .title {
    margin: 0;
    font-family: 'UnboundedBlack', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: var(--text_black_default); }
  .load_perm_container .form_block {
    width: 100%;
    justify-content: space-between; }
    .load_perm_container .form_block .left_side,
    .load_perm_container .form_block .right_side {
      width: 48.5%;
      height: 100%; }
  .load_perm_container .submit_button_box {
    margin: 0 !important; }
  @media (max-width: 1199px) {
    .load_perm_container {
      margin-left: 0; }
      .load_perm_container .title {
        font-size: 18px; }
      .load_perm_container .form_block .left_side,
      .load_perm_container .form_block .right_side {
        width: 48.5%; } }
  @media (max-width: 1049px) {
    .load_perm_container {
      width: 100%; } }
  @media (max-width: 729px) {
    .load_perm_container .title {
      font-size: 16px; } }
  @media (max-width: 729px) {
    .load_perm_container .title {
      font-size: 15px; } }
  @media (max-width: 529px) {
    .load_perm_container {
      height: max-content;
      row-gap: 15px; }
      .load_perm_container .form_block {
        flex-direction: column; }
        .load_perm_container .form_block .left_side,
        .load_perm_container .form_block .right_side {
          width: 100%; } }

.unload_perm_container {
  align-items: center;
  width: 67.5%;
  height: 705px;
  box-sizing: border-box;
  padding: 20px;
  margin-left: 80px;
  background-color: var(--container_background);
  justify-content: space-around; }
  .unload_perm_container .title {
    margin: 0;
    font-family: 'UnboundedBlack', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: var(--text_black_default); }
  .unload_perm_container .form_block {
    width: 100%;
    justify-content: space-between; }
    .unload_perm_container .form_block .left_side,
    .unload_perm_container .form_block .right_side {
      width: 48.5%;
      height: 100%; }
  .unload_perm_container .submit_button_box {
    margin: 0 !important; }
  @media (max-width: 1199px) {
    .unload_perm_container {
      margin-left: 0;
      width: 67.5%; }
      .unload_perm_container .title {
        font-size: 18px; }
      .unload_perm_container .form_block .left_side,
      .unload_perm_container .form_block .right_side {
        width: 48.5%; } }
  @media (max-width: 1049px) {
    .unload_perm_container {
      width: 100%; } }
  @media (max-width: 729px) {
    .unload_perm_container .title {
      font-size: 16px; } }
  @media (max-width: 729px) {
    .unload_perm_container .title {
      font-size: 15px; } }
  @media (max-width: 529px) {
    .unload_perm_container {
      height: max-content;
      row-gap: 15px; }
      .unload_perm_container .form_block {
        flex-direction: column; }
        .unload_perm_container .form_block .left_side,
        .unload_perm_container .form_block .right_side {
          width: 100%; } }

.popup_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(var(--text_black_default_rgb), 0.4);
  align-items: center;
  justify-content: center;
  z-index: 1001; }
  .popup_container .inner_wrapper {
    position: relative;
    background-color: var(--container_background);
    width: 550px;
    height: 230px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 25px 0; }
    .popup_container .inner_wrapper .title {
      font-family: 'UnboundedBlack', sans-serif;
      font-size: 20px;
      color: var(--text_black_default);
      margin: 0; }
    .popup_container .inner_wrapper .message {
      font-family: 'GilroyMedium', sans-serif;
      font-size: 16px;
      color: var(--text_black_default);
      max-width: 90%;
      text-align: center; }
    .popup_container .inner_wrapper .submit_button_box {
      margin: 0 !important; }
      .popup_container .inner_wrapper .submit_button_box .submit_button {
        font-size: 16px !important; }
    .popup_container .inner_wrapper .icon {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer; }
  @media (max-width: 1199px) {
    .popup_container .inner_wrapper {
      width: 450px;
      height: 200px; } }
  @media (max-width: 729px) {
    .popup_container .inner_wrapper {
      width: 390px;
      height: 180px; }
      .popup_container .inner_wrapper .title {
        font-size: 18px; }
      .popup_container .inner_wrapper .message {
        font-size: 14px; }
      .popup_container .inner_wrapper .submit_button_box .submit_button {
        font-size: 14px;
        padding: 8.5px 30px; } }
  @media (max-width: 529px) {
    .popup_container .inner_wrapper {
      width: 85vw; }
      .popup_container .inner_wrapper .title {
        font-size: 16px; }
      .popup_container .inner_wrapper .message {
        font-size: 13px; } }

.application_container {
  width: 100%;
  box-sizing: border-box;
  padding: 35px;
  background-color: var(--container_background); }
  .application_container .inner_block .left_side {
    border-right: 1px solid var(--hover_color);
    width: 43%;
    padding: 0 40px 0 0; }
    .application_container .inner_block .left_side .title_1 {
      font-size: 20px;
      font-family: 'UnboundedBlack', sans-serif;
      color: var(--text_black_default);
      letter-spacing: 1px;
      text-align: center;
      margin: 0 0 15px 0;
      text-transform: uppercase; }
    .application_container .inner_block .left_side .title_2,
    .application_container .inner_block .left_side .title_3 {
      font-size: 18px;
      font-family: 'GilroyMedium', sans-serif;
      color: var(--hover_color);
      text-align: center;
      margin: 15px 0; }
    .application_container .inner_block .left_side hr {
      width: 100%;
      height: 1.3px;
      border: none;
      background-color: var(--hover_color);
      margin: 15px 0 0 0; }
  .application_container .inner_block .right_side {
    width: 43%;
    padding: 0 0 0 40px; }
    .application_container .inner_block .right_side .title {
      font-size: 20px;
      font-family: 'UnboundedBlack', sans-serif;
      color: var(--text_black_default);
      letter-spacing: 1px;
      text-align: center;
      margin: 0 0 10px 0; }
    .application_container .inner_block .right_side hr {
      width: 100%;
      height: 1px;
      background-color: var(--hover_color);
      border: none;
      margin: 27px 0; }
    .application_container .inner_block .right_side .file_input_container {
      justify-content: space-between;
      align-items: center; }
      .application_container .inner_block .right_side .file_input_container .text_block {
        justify-content: center;
        height: 100%;
        row-gap: 15px;
        width: 67%; }
        .application_container .inner_block .right_side .file_input_container .text_block span {
          font-size: 14px;
          font-family: 'GilroyRegular', sans-serif;
          line-height: 25px;
          color: var(--text_black_default); }
        .application_container .inner_block .right_side .file_input_container .text_block .file_input_row {
          width: 100%;
          align-items: center;
          column-gap: 30px;
          row-gap: 5px;
          flex-wrap: wrap; }
          .application_container .inner_block .right_side .file_input_container .text_block .file_input_row .file_input_button {
            height: 38px;
            width: max-content;
            box-sizing: border-box;
            padding: 0 7px;
            column-gap: 5px;
            border: 1.5px solid rgba(197, 197, 197, 0.5); }
          .application_container .inner_block .right_side .file_input_container .text_block .file_input_row label.file_input_button {
            font-size: 14px;
            cursor: pointer;
            margin: 0;
            font-family: 'InterRegular', sans-serif;
            color: var(--text_black_default);
            align-items: center; }
            .application_container .inner_block .right_side .file_input_container .text_block .file_input_row label.file_input_button .icon {
              stroke: var(--text_black_default); }
            .application_container .inner_block .right_side .file_input_container .text_block .file_input_row label.file_input_button.is_invalid {
              border-color: var(--declined_color); }
          .application_container .inner_block .right_side .file_input_container .text_block .file_input_row input[type='file'] {
            font-size: 0;
            opacity: 0;
            margin: 0;
            padding: 0;
            width: 0;
            height: 0; }
          .application_container .inner_block .right_side .file_input_container .text_block .file_input_row .selected_file_name {
            align-items: center;
            column-gap: 7px;
            max-width: 90%; }
            .application_container .inner_block .right_side .file_input_container .text_block .file_input_row .selected_file_name span {
              color: var(--text_black_default);
              font-size: 14px;
              font-family: 'InterRegular', sans-serif;
              overflow: hidden;
              -o-text-overflow: ellipsis;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              line-clamp: 1;
              -webkit-box-orient: vertical;
              width: 83%; }
            .application_container .inner_block .right_side .file_input_container .text_block .file_input_row .selected_file_name svg {
              color: var(--declined_color);
              cursor: pointer; }
      .application_container .inner_block .right_side .file_input_container .image_block {
        width: 33%; }
        .application_container .inner_block .right_side .file_input_container .image_block img {
          max-width: 100%; }
  .application_container .submit_button {
    justify-content: center;
    margin-top: 35px; }
    .application_container .submit_button button {
      border-radius: 5px; }
  @media (max-width: 1199px) {
    .application_container {
      padding: 20px; }
      .application_container .inner_block .left_side {
        width: 43%;
        padding: 0px 20px 0 0; }
        .application_container .inner_block .left_side .title_1 {
          font-size: 18px; }
        .application_container .inner_block .left_side .title_2,
        .application_container .inner_block .left_side .title_3 {
          font-size: 16px; }
      .application_container .inner_block .right_side {
        width: 51%;
        padding: 0 0 0 20px; }
        .application_container .inner_block .right_side .title {
          font-size: 18px; }
        .application_container .inner_block .right_side .file_input_container .text_block span {
          font-size: 13px; }
        .application_container .inner_block .right_side .file_input_container .text_block .file_input_row label.file_input_button {
          font-size: 12px; } }
  @media (max-width: 729px) {
    .application_container .inner_block {
      flex-direction: column;
      row-gap: 15px; }
      .application_container .inner_block .left_side,
      .application_container .inner_block .right_side {
        width: 100%;
        border: none;
        padding: 0; }
        .application_container .inner_block .left_side .title,
        .application_container .inner_block .left_side .title_1,
        .application_container .inner_block .right_side .title,
        .application_container .inner_block .right_side .title_1 {
          font-size: 16px; }
        .application_container .inner_block .left_side .title_2,
        .application_container .inner_block .left_side .title_3,
        .application_container .inner_block .right_side .title_2,
        .application_container .inner_block .right_side .title_3 {
          font-size: 15px; } }

.video_container {
  align-items: center;
  margin-top: 80px;
  width: 100%;
  justify-content: center;
  column-gap: 30px; }
  .video_container .watch_text {
    font-family: 'RobotoBlack', sans-serif;
    font-size: 18px;
    color: var(--text_black_default);
    width: 393px; }
  .video_container .video_wrapper {
    display: none; }
  .video_container .video_wrapper.active {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(var(--text_black_default_rgb), 0.4);
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1000; }
    .video_container .video_wrapper.active video {
      position: fixed;
      top: 10%;
      max-width: var(--default_width);
      height: 80%; }
    .video_container .video_wrapper.active .close_icon {
      position: absolute;
      right: 25px;
      top: 20px;
      width: 24px;
      height: 24px;
      color: var(--default_white);
      cursor: pointer; }
  @media (max-width: 1199px) {
    .video_container {
      column-gap: 0; }
      .video_container .watch_text {
        font-size: 17px; } }
  @media (max-width: 729px) {
    .video_container {
      flex-direction: column;
      row-gap: 15px;
      align-items: center; }
      .video_container .watch_text {
        width: 100%;
        text-align: center; } }

.history_container {
  margin-left: 40px;
  width: 73%;
  background-color: var(--container_background); }
  .history_container .inner_wrapper {
    width: 100%;
    height: 789px;
    box-sizing: border-box;
    padding: 20px; }
    .history_container .inner_wrapper .epermite_head {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 35px 0; }
      .history_container .inner_wrapper .epermite_head .title {
        text-align: left;
        width: revert;
        margin: 0; }
      .history_container .inner_wrapper .epermite_head .createEPermit {
        padding: 10px 15px;
        background-color: var(--hover_color);
        cursor: pointer;
        background-color: var(--hover_color);
        color: var(--white_permanent);
        font-family: 'GilroyMedium', sans-serif;
        font-size: 14px; }
    .history_container .inner_wrapper .title {
      text-align: center;
      width: 100%;
      margin: 0 0 35px 0;
      font-family: 'UnboundedBlack', sans-serif;
      font-size: 20px;
      font-weight: normal;
      text-transform: uppercase; }
    .history_container .inner_wrapper .table_block {
      width: 100%; }
      .history_container .inner_wrapper .table_block .header_row,
      .history_container .inner_wrapper .table_block .content_row {
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid var(--text_grayed_out2);
        align-items: center; }
        .history_container .inner_wrapper .table_block .header_row span,
        .history_container .inner_wrapper .table_block .content_row span {
          padding: 0 7px;
          border-right: 1px solid var(--text_black_default);
          overflow: hidden;
          font-family: 'GilroySemiBold', sans-serif;
          font-size: 16px;
          line-height: 16px;
          color: var(--text_black_default);
          flex-shrink: 0;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          display: -webkit-box;
          text-overflow: ellipsis;
          overflow: hidden;
          -webkit-box-orient: vertical; }
          .history_container .inner_wrapper .table_block .header_row span.butt,
          .history_container .inner_wrapper .table_block .content_row span.butt {
            text-align: center; }
            .history_container .inner_wrapper .table_block .header_row span.butt img,
            .history_container .inner_wrapper .table_block .content_row span.butt img {
              height: 30px;
              cursor: pointer; }
          .history_container .inner_wrapper .table_block .header_row span:first-child,
          .history_container .inner_wrapper .table_block .content_row span:first-child {
            width: 11.6%; }
          .history_container .inner_wrapper .table_block .header_row span:nth-child(2),
          .history_container .inner_wrapper .table_block .content_row span:nth-child(2) {
            width: 9%; }
          .history_container .inner_wrapper .table_block .header_row span:nth-child(3),
          .history_container .inner_wrapper .table_block .content_row span:nth-child(3) {
            width: 9%; }
          .history_container .inner_wrapper .table_block .header_row span:nth-child(4),
          .history_container .inner_wrapper .table_block .content_row span:nth-child(4) {
            width: 13%; }
          .history_container .inner_wrapper .table_block .header_row span:nth-child(5),
          .history_container .inner_wrapper .table_block .content_row span:nth-child(5) {
            width: 30%;
            -webkit-line-clamp: 2;
            line-clamp: 2; }
          .history_container .inner_wrapper .table_block .header_row span:nth-child(6),
          .history_container .inner_wrapper .table_block .content_row span:nth-child(6) {
            width: 8.8%; }
          .history_container .inner_wrapper .table_block .header_row span:last-child,
          .history_container .inner_wrapper .table_block .content_row span:last-child {
            width: 8.8%;
            border-right: none;
            padding-right: 0; }
      .history_container .inner_wrapper .table_block .content_row span {
        font-family: 'GilroyRegular', sans-serif !important;
        font-size: 12px !important;
        line-height: 18.5px !important; }
      .history_container .inner_wrapper .table_block .content_row .cancel_button {
        cursor: pointer; }
  .history_container .pagination_row {
    align-items: center;
    column-gap: 12px;
    margin: 20px 0 0 0;
    justify-content: center; }
    .history_container .pagination_row .pages_block {
      align-items: center;
      column-gap: 12px; }
      .history_container .pagination_row .pages_block span {
        font-size: 18px;
        font-family: 'GilroyMedium', sans-serif;
        color: var(--text_grayed_out1); }
    .history_container .pagination_row .pagination_button {
      cursor: pointer; }
  @media (max-width: 1199px) {
    .history_container {
      width: 67.5%; }
      .history_container .inner_wrapper {
        width: 100%; }
        .history_container .inner_wrapper .table_block .content_row {
          align-items: center; }
          .history_container .inner_wrapper .table_block .content_row span {
            font-size: 11px !important; }
            .history_container .inner_wrapper .table_block .content_row span:nth-child(3) {
              -webkit-line-clamp: 2; }
        .history_container .inner_wrapper .table_block .header_row span {
          font-size: 14px; }
        .history_container .inner_wrapper .table_block .header_row span:first-child,
        .history_container .inner_wrapper .table_block .content_row span:first-child {
          width: 7.5%; }
        .history_container .inner_wrapper .table_block .header_row span:nth-child(2),
        .history_container .inner_wrapper .table_block .content_row span:nth-child(2) {
          width: 13%; } }
  @media (max-width: 1049px) {
    .history_container {
      width: 100%;
      margin: 0; } }
  @media (max-width: 729px) {
    .history_container {
      overflow-x: scroll; }
      .history_container .inner_wrapper {
        width: max-content; }
        .history_container .inner_wrapper .title {
          font-size: 17px; } }

.change_pass_container {
  width: 607px;
  height: 474px;
  box-sizing: border-box;
  padding: 50px;
  margin-left: 40px;
  background-color: var(--container_background); }
  .change_pass_container .title {
    font-family: 'UnboundedBlack', sans-serif;
    font-size: 25px;
    color: var(--text_black_default);
    text-align: center;
    margin: 0 0 15px 0;
    text-transform: uppercase; }
  .change_pass_container .confirmation_sent_text {
    font-family: 'GilroyBold', sans-serif;
    font-size: 14px;
    color: var(--hover_color);
    text-align: center; }
  .change_pass_container .input_block {
    box-sizing: border-box;
    padding: 0 58px;
    margin: 11px 0 50px 0; }
  .change_pass_container .submit_button_box {
    margin: 0; }
    .change_pass_container .submit_button_box .submit_button {
      border-radius: 5px !important; }
  @media (max-width: 1199px) {
    .change_pass_container {
      width: 557px;
      height: 404px;
      padding: 30px; }
      .change_pass_container .title {
        font-size: 21px; }
      .change_pass_container .input_block {
        padding: 0 45px;
        margin: 11px 0 40px 0; } }
  @media (max-width: 1049px) {
    .change_pass_container {
      margin: 0; }
      .change_pass_container .title {
        font-size: 20px; } }
  @media (max-width: 529px) {
    .change_pass_container {
      padding: 25px 6vw; }
      .change_pass_container .title {
        font-size: 19px; }
      .change_pass_container .input_block {
        padding: 0; } }

/*-------------application_page tabs END---------------*/
