/*-------------footer component START---------------------*/
footer {
  width: 100%;
  height: 293px;
  background-position: center;
  justify-content: center;
  background-color: var(--footer_background); }
  footer .inner_wrapper {
    width: var(--default_width);
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 33px 0; }
    footer .inner_wrapper .upper_row {
      width: 100%;
      justify-content: center; }
      footer .inner_wrapper .upper_row .logo_inner_wrapper {
        align-items: center;
        column-gap: 7px; }
        footer .inner_wrapper .upper_row .logo_inner_wrapper img {
          width: 79px;
          height: 63px; }
        footer .inner_wrapper .upper_row .logo_inner_wrapper h1 {
          font-family: 'GilroyBold', sans-serif;
          font-weight: normal;
          font-size: 18px;
          color: var(--white_permanent);
          text-transform: uppercase;
          letter-spacing: 0.5px;
          line-height: 25px;
          margin: 0;
          text-align: center; }
    footer .inner_wrapper .middle_row {
      height: 60px;
      justify-content: space-between; }
      footer .inner_wrapper .middle_row .nav_buttons_row {
        justify-content: center;
        align-items: center;
        width: 100%;
        column-gap: 7.5px; }
        footer .inner_wrapper .middle_row .nav_buttons_row .footer_button {
          text-decoration: none;
          color: var(--white_permanent);
          font-family: 'GilroyBold', sans-serif;
          font-size: 16px; }
      footer .inner_wrapper .middle_row .contacts_row {
        justify-content: center;
        align-items: center;
        column-gap: 43.2px;
        width: 100%; }
        footer .inner_wrapper .middle_row .contacts_row .rss {
          align-items: center;
          column-gap: 3px; }
          footer .inner_wrapper .middle_row .contacts_row .rss svg {
            fill: var(--white_permanent); }
        footer .inner_wrapper .middle_row .contacts_row span {
          font-family: 'GilroyMedium', sans-serif;
          font-size: 14px;
          color: var(--white_permanent); }
        footer .inner_wrapper .middle_row .contacts_row a {
          text-decoration: none; }
    footer .inner_wrapper .bottom_row {
      justify-content: center;
      align-items: center;
      margin: 0; }
      footer .inner_wrapper .bottom_row span {
        font-family: 'GilroyMedium', sans-serif;
        font-size: 12px;
        color: var(--white_permanent); }
  @media (max-width: 1550px) {
    footer .inner_wrapper .upper_row .logo_inner_wrapper h1 {
      font-size: 17px; } }
  @media (max-width: 889px) {
    footer {
      height: unset; }
      footer .inner_wrapper {
        padding: 25px 0;
        row-gap: 20px; }
        footer .inner_wrapper .upper_row .logo_inner_wrapper h1 {
          font-size: 16px; }
        footer .inner_wrapper .upper_row .logo_inner_wrapper img {
          width: 60px;
          height: 47px; }
        footer .inner_wrapper .middle_row {
          height: max-content;
          flex-direction: row;
          width: 100%; }
          footer .inner_wrapper .middle_row .nav_buttons_row {
            flex-direction: column;
            row-gap: 8px; }
          footer .inner_wrapper .middle_row .contacts_row {
            flex-direction: column;
            justify-content: space-evenly; } }
  @media (max-width: 529px) {
    footer .inner_wrapper .upper_row .logo_inner_wrapper h1 {
      font-size: 14px; } }
  @media (max-width: 424px) {
    footer .inner_wrapper .upper_row .logo_inner_wrapper h1 {
      text-align: left; }
    footer .inner_wrapper .middle_row {
      flex-direction: column;
      row-gap: 15px; }
      footer .inner_wrapper .middle_row .contacts_row {
        row-gap: 8px; } }

/*-------------footer component END---------------------*/
