/*----------------login_page START--------------------------------*/
.login_page{
    width: 100%;
    justify-content: center;
    margin: 80px 0;

    .form_container{
        width: 491px;
        height: 439px;
        box-sizing: border-box;
        padding: 50px;
        border: none;
        background-color: var(--container_background);


        .title_block{
            width: 100%;

            .title_text{
                font-family: 'UnboundedBlack', sans-serif;
                font-size: 25px;
                text-transform: uppercase;
                color: var(--text_black_default);
                text-align: center;
                margin: 0 0 10px 0;
            }
        }

        .form_block{
            
            label{
                font-family: 'GilroySemiBold', sans-serif;
                font-size: 12px;
                color: var(--text_black_default);
                margin-bottom: 5px;
            }

            input{
                box-sizing: border-box;
                padding: 10px;
                border-radius: 5px;
                margin-bottom: 16.5px;
                border: 1.5px solid var(--input_border);
                outline: none;
                transition: all ease-in 0.15s;
                font-family: 'GilroyRegular', sans-serif;
                font-size: 14px;

                &:focus{
                    border-color: var(--hover_color);
                }

                &::placeholder{
                    font-family: 'GilroyRegular', sans-serif;
                    font-size: 12px;
                    color: var(--text_grayed_out2);
                }
            }

            .forgot_password_row{
                font-size: 12px;
                font-family: 'GilroyRegular', sans-serif;
                color: var(--hover_color);
                cursor: pointer;
            }
            
        }
        .login_button_block{
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            .login_button{
                box-sizing: border-box;
                padding: 9px 50px;
                border: none;
                border-radius: 5px;
                font-family: 'GilroyMedium', sans-serif;
                font-size: 16px;
                color: var(--white_permanent);
                cursor: pointer;
            }

            .signup_row{
                font-family: 'GilroyRegular', sans-serif;
                font-size: 12px;
                color: var(--text_black_default);
                margin-top: 20px;

                a{
                    color: var(--hover_color);
                }
            }
        }
    }

    @media (max-width: 729px){

        .form_container{
            width: 451px;
            height: 409px;

            .title_block{

                .title_text{
                    font-size: 23px;
                }
            }

            .form_block{

                label{
                    font-size: 11px;
                }
                .input_wrapper{

                    input, select{
                        font-size: 13px;
                        padding: 9px;
                    }
                } 
            }

            .login_button_block{
                margin-top: 30px;
            }
        }
    }

    @media (max-width: 529px) {

        .form_container{
            width: 87vw;
            padding: 7vw;
            height: 365px;

            .title_block{

                .title_text{
                    font-size: 21px;
                }
            }

            .login_button_block{

                .login_button{
                    padding: 7px 40px;
                    font-size: 14px;
                }
            }
        }
    }
}
/*----------------login_page END--------------------------------*/